
/*content*/

.content {
    width: 95.5vw;
    height: 78vh;
    margin: 2vw;
    position:absolute;
}

/*main*/
.main{
    position: relative;
    float:left;
}
.main, #bicycle_img {
    width: 45vw;
    text-align: center;
    align-content: center;
}

.bicycle_name {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #2F2C2D;
}

.MBS_information {
    text-align: left;
    width: 45vw;
}

.title_id, .title_batt, .title_status, .title_SQ, .title_updateTime {
    align-content: center;
    line-height: 5vh;
    color: #FFFFFF;
    background-color: #2F2C2D;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 25px;
}

.MBS_item {
    float: left;
    margin-bottom: 3vh;
}

.value_id, .value_batt, .value_status, .value_SQ, .value_updateTime {
    margin-right: 0.4vw;
}

/*route*/
.route {
    width: 45vw;
    margin-left: 5vw;
    text-align: center;
    align-content: center;
    position: relative;
    float: left;
}

.route_record, .history_route,.MBS_ID_area {
    clear: left;
}

.route_title,.MBS_ID_title {
    float: left;
    font-size: 1.2rem;
    font-weight: inherit;
    margin-top: 1%;
}

.record_btn {
    margin-bottom: 3vh;
    float: left;
    color: #2F2C2D;
    padding-top: 0.5vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    padding-bottom: 0.5vh;
    border: thin solid #2F2C2D;
    border-radius: 1rem;
}

#start_btn {
    background-color: #2eb951c0;
}

#start_btn,.time_selection,.MBS_ID_selection {
    margin-left: 3vw;
    margin-right: 1.5vw;
}

#end_btn {
    background-color: #d63f3985;
}

.record_btn:hover, .search_btn:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.time_selection, .search_btn,.MBS_ID_selection {
    align-content: center;
    text-align: center;
    float: left;
    color: #2F2C2D;
}

.time_selection,.MBS_ID_selection {
    width: 14vw;
    height: 5.5vh;
    margin-left: 3vw;
    margin-right: 1vw;
    border: thin solid #2F2C2D;
    border-radius: 1rem;
}

.time_selection,.search_btn,.MBS_ID_selection {
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    padding-top: 0.2vw;
    padding-bottom: 0.4vw;
}

.search_btn {
    background-color: #3b9ada;
    width: 5vw;
    border: thin solid #0c4164c0;
    border-radius: 1rem;
}

.map,#now_map {
    width: 45vw;
    height: 45vh;
}

.current_position {
    background-color: #E1B121;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 10vh;
    border-radius: 1rem;
    color: #FFFFFF;
}

.current_position:hover {
    color: #2F2C2D;
    cursor: pointer;
}

/*暫存不顯示*/
.temp_txt{
    display:none;
}