<header>
    <div class="logo">
        <a href="#">
            <img id="logo" src="images/logo.png" alt="愛心鐵馬追蹤系統Logo" />
        </a>
    </div>
    <nav class="menu">
        <div class="navitem">
            <a class="navitem_text" href="#">🏠 首頁</a>
        </div>
        <div class="navitem">
            <a class="navitem_text" href="https://docs.google.com/spreadsheets/d/1LWfu4kKXSNzt6iqsCczuIxrGPANdAt30TzGwnZrfhBM/edit?usp=sharing" target="_blank">📋 設備清單</a>
        </div>
        <div class="navitem">
            <a class="navitem_text" href="/#/about;id=2">👥 關於我們</a>
        </div>
    </nav>
</header>
<div class="content">
    <!--腳踏車圖片以及資訊 -->
    <div class="main">
        <img id="bicycle_img" src="images/bicycle.jpg" alt="愛心鐵馬" />
        <div class="information">
            <p class="bicycle_name">Bicycle-C3670</p>
            <hr>
            <div class="MBS_information">
                <div class="MBS_item">
                    <label class="title_id">📌 MBS編號</label>
                    <label class="value_id">02</label>
                </div>
                <div class="MBS_item">
                    <label class="title_batt">⚡ MBS剩餘電量</label>
                    <label class="value_batt">20</label>
                </div>
                <div class="MBS_item">
                    <label class="title_status">🟢 MBS目前狀態</label>
                    <label class="value_status">電量充足</label>
                </div>
                <div class="MBS_item">
                    <label class="title_SQ">📶 MBS訊號強度</label>
                    <label class="value_SQ">-120dbm</label>
                </div>
                <div class="MBS_item">
                    <label class="title_updateTime">⏰ 更新時間</label>
                    <label class="value_updateTime">2020/5/22&nbsp;22:10:15</label>
                </div>
            </div>
        </div>
    </div>
    <!--路線內容 -->
    <div class="route">
        <!--路線紀錄-->
        <div class="MBS_ID_area">
            <p class="MBS_ID_title">MBS_ID</p>
            <select class="MBS_ID_selection" id="MBS_ID_selection">
                <option>01</option>
            </select>
            <div id="MBS_search_btn" class="search_btn">🔍 查詢</div>
        </div>
        <div class="route_record">
            <label class="route_title">路線紀錄</label>
            <div class="record_btn" id="start_btn">⭐ 開始記錄</div>
            <div class="record_btn" id="end_btn">⭐ 結束記錄</div>
        </div>
        <!--歷史路線-->
        <div class="history_route">
            <p class="route_title">歷史路線</p>
            <select class="time_selection" id="time_selection">
                <option>請選擇查詢時間</option>
            </select>
            <div id="route_search_btn" class="search_btn">🔍 查詢</div>
        </div>
        <!--地圖-->
        <div class = "map">
            <div id="now_map" #googleMap></div>
        </div>
        <!--目前位置-->
        <div class="current_position">📍 目前所在位置</div>
        <!--暫存，不顯示-->
        <label class="temp_txt" id="now_latitude">22.649769</label>
        <label class="temp_txt" id="now_longitude">120.326540</label>
        <label class="temp_txt" id="btn_status">start</label>
    </div>
</div>