@charset "utf-8";
/*總設定*/

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

@font-face {
    font-family: 'NotoSansTC-Medium';
    src: url("NotoSansTC-Medium.otf")
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*header*/

header {
    height: 15vh;
    background-color: #DEDEDE;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    position: relative;
    text-align: center;
    align-content: center;
}

nav .navitem:hover {
    border-bottom: thick solid #2F2C2D;
}

.navitem {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

.menu, .logo {
    margin-top: auto;
    margin-bottom: auto;
}

#logo {
    width: 20vw;
    margin-left: 1vw;
}

#menu{
    margin-top: 25vh;
    margin-left: 20vw;
    display:none;
}