/*敘述*/

.introduction {
	height: 19vh;
	width: 85.5vw;
	margin-left: 6.8vw;
	margin-right: 10vw;
	margin-bottom: 1.8rem;
	text-indent: 2em;
	text-align: justify;
	/*左右對齊*/
}

/*情境圖*/

.situation, .team_group {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	position: relative;
	text-align: center;
	align-content: center;
}

.situation_div {
	flex-direction: column;
	background-color: black;
	border: 6px solid white;
	box-shadow: 1px 1px 5px #333333;
	margin-left: 7vw;
	margin-right: 7vw;
}

.situation_img, .situation_div {
	width: 18vw;
	height: 23vh;
}

/*團隊成員*/

.team_title {
	margin-top: 4vh;
	margin-bottom: -5vh;
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
	background-color: #2F2C2D;
	width: 6.4vw;
	margin-left: 8vw;
	padding: 0.3vw;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.team_member {
	border: 0.2rem solid #2F2C2D;
	border-radius: 1rem;
	padding: 0.5rem;
	margin-top: 5vh;
	margin-bottom: -4vh;
	background-color: rgba(97, 99, 100, 0.021);
}

.team_member,.team_group{
	margin-left: 7vw;
	margin-right: 8.5vw;
}

.team_group, .member_img, .situation_div {
	display: flex;
}

.member_img {
	margin-right: 1vw;
}

.member_icon {
	width: 5vw;
	height: 8vh;
}

.member_information {
	text-align: left;
	margin-right: 2vw;
}