<header>
    <div class="logo">
        <a href="#">
            <img id="logo" src="images/logo.png" alt="愛心鐵馬追蹤系統Logo" />
        </a>
    </div>
    <nav class="menu">
        <div class="navitem">
            <a class="navitem_text" href="#">🏠 首頁</a>
        </div>
        <div class="navitem">
            <a class="navitem_text" href="https://docs.google.com/spreadsheets/d/1LWfu4kKXSNzt6iqsCczuIxrGPANdAt30TzGwnZrfhBM/edit?usp=sharing" target="_blank">📋 設備清單</a>
        </div>
        <div class="navitem">
            <a class="navitem_text" href="/#/about;id=2">👥 關於我們</a>
        </div>
    </nav>
</header>
<div class="content">
    <div class="introduction">
        <p>我們發現到校園內有許多愛心鐵馬亂停的現象，如以下場景是否似曾相似呢？<br>
           &nbsp; &nbsp; &nbsp; 亂停的現象不僅造成了學生與老師們在尋找愛心鐵馬時的困擾，更造成了維修人員的麻煩。而每當維修時間的來臨，維修人員便要到處去尋找校園內愛心鐵馬，統一集中維修與管理，而這樣的維修方式，不僅費時費力，更增加了人力成本。
           因此我們開發「愛心鐵馬追蹤系統」用以協助維修人員進行管理愛心鐵馬，並預計在每台腳踏車上裝上移動式基地台（Mobile Base Station, MBS）來完成追蹤校內愛心鐵馬之功能。
           而在未來可以將此套系統轉移至相關需求業者，例如：需要追蹤找尋車輛之需求者以及需要查詢歷史路線之需求者等。
        </p>
    </div>
    <div class="situation">
        <div class="situation_div">
            <img class="situation_img" src="images/situation_1.png" alt="情境圖＿亂丟在教室的鐵馬" />
        </div>
        <div class="situation_div">
            <img class="situation_img" src="images/situation_2.png" alt="情境圖＿亂丟在草堆的鐵馬" />
        </div>
        <div class="situation_div">
            <img class="situation_img" src="images/situation_3.png" alt="情境圖＿亂丟在射箭場的鐵馬" />
        </div>
    </div>
    <div class="team_title">
        團隊組成<br>
    </div>
    <div class="team_member">
        <div class="team_group">
            <div class="member_img">
                <img class="member_icon" src="images/rear_end.png" alt="成員頭像" />
            </div>
            <div class="member_information">
                鄭育存<br>
                網頁製作、文件撰寫<br>
                C107118202@nkust.edu.tw
            </div>
            <div class="member_img">
                <img class="member_icon" src="images/front_end.png" alt="成員頭像" />
            </div>
            <div class="member_information">
                温玉婕<br>
                簡報製作<br>
                C107118231@nkust.edu.tw
            </div>
            <div class="member_img">
                <img class="member_icon" src="images/briefing.png" alt="成員頭像" />
            </div>
            <div class="member_information">
                吳念臻<br>
                網頁前端設計<br>
                C108118207@nkust.edu.tw
            </div>
        </div>
        <div class="team_group">
            <div class="member_img">
                <img class="member_icon" src="images/design.png" alt="成員頭像" />
            </div>
            <div class="member_information">
                楊昇諭<br>
                美術設計、文件撰寫<br>
                C109118235@nkust.edu.tw
            </div>
            <div class="member_img">
                <img class="member_icon" src="images/data_collection.png" alt="成員頭像" />
            </div>
            <div class="member_information">
                李韋辰<br>
                資料搜集、文件撰寫<br>
                C109118255@nkust.edu.tw
            </div>
            <div class="member_img">
                <img class="member_icon" src="images/data_collection.png" alt="成員頭像" />
            </div>
            <div class="member_information">
                秦玟康<br>
                資料搜集、文件撰寫<br>
                C109118263@nkust.edu.tw
            </div>
        </div>
    </div>
</div>